@import "leaflet/dist/leaflet.css";
html, body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
:root {

    --color-primary: #2e8b57;      /* Verde sostenible */
    --color-primary-light: #4caf7d;
    --color-primary-dark: #1e5f3a;


    --color-secondary: #0078d7;    /* Azul confianza */
    --color-secondary-light: #4aa3ff;
    --color-secondary-dark: #0056a3;


    --color-bg: #f5f7fa;           /* Fondo general */
    --color-surface: #ffffff;      /* Tarjetas, paneles */
    --color-border: #dcdfe3;
    --color-text: #333333;
    --color-text-light: #666666;

    /* 🚨 Colores de estado */
    --color-success: #2ecc71;
    --color-warning: #f1c40f;
    --color-error: #e74c3c;
    --color-info: #3498db;

    --shadow-soft: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 10px rgba(0, 0, 0, 0.15);

    --font-main:'Instrument Sans', sans-serif;
    --font-alternate: 'Instrument Sans', sans-serif;

    --max-width: 1200px;
    --border-radius: 8px;
}
